{% extends 'base.html.twig' %}

{% block title %}Edit category{% endblock %}


{% block body %}
    <h1>Edit Category</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('dashboard.categories.index') }}">Back to list</a>
{% endblock %}